.container{
  padding: 40px;
}

.container .use-state{
  display: flex;
  justify-content: space-around;
}

.container .use-effect{
  display: flex;
  justify-content: space-around;
}

.container .use-state .class-component{
  padding: 20px;
  border: 1px solid gray;
}

.container .use-effect .class-component{
  padding: 20px;
}

.container .use-state .functional-component{
  padding: 20px;
  border: 1px solid gray;
}
